{% extends "bootstrap/base.html" %}

{% block title %}Admin Confirmed Properties{% endblock %}

{% block head %}
{{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Admin Confirmed Properties </title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <form action="/logout">
            <span><button class="btn login">Logout</button></span>
            </form>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <h3 align="center" style="color:red;">{{ error }}</h3>
    <h1 align="center" style="margin-top:150px;">All Confirmed Properties</h1>
    <table border="1" id="admin-visitor-list">
        <th width="15%">Name <button style="background-color:#8fc1e3;" onclick="window.location.href='{{ url_for( 'adminSortConfirmedASC', Param="Name" ) }}';">▲</button><button style="background-color:#8fc1e3;" onclick="window.location.href='{{ url_for( 'adminSortConfirmedDESC', Param="Name" ) }}';">▼</button></th>
        <th width="15%">Street</th>
        <th width="10%">City</th>
        <th width="10%">Zip <button style="background-color:#8fc1e3;" onclick="window.location.href='{{ url_for( 'adminSortConfirmedASC', Param="Zip" ) }}';">▲</button><button style="background-color:#8fc1e3;" onclick="window.location.href='{{ url_for( 'adminSortConfirmedDESC', Param="Zip" ) }}';">▼</button></th>
        <th width="5%">Size</th>
        <th width="10%">Type <button style="background-color:#8fc1e3;" onclick="window.location.href='{{ url_for( 'adminSortConfirmedASC', Param="PropertyType" ) }}';">▲</button><button style="background-color:#8fc1e3;" onclick="window.location.href='{{ url_for( 'adminSortConfirmedDESC', Param="PropertyType" ) }}';">▼</button></th>
        <th width="3%">Public</th>
        <th width="3%">Commercial</th>
        <th width="5%">ID</th>
        <th width="10%">Verified By <button style="background-color:#8fc1e3;" onclick="window.location.href='{{ url_for( 'adminSortConfirmedASC', Param="ApprovedBy" ) }}';">▲</button><button style="background-color:#8fc1e3;" onclick="window.location.href='{{ url_for( 'adminSortConfirmedDESC', Param="ApprovedBy" ) }}';">▼</button></th>
        <th width="10%">Avg. Rating <button style="background-color:#8fc1e3;" onclick="window.location.href='{{ url_for( 'adminSortConfirmedASC', Param="COALESCE(Average, 0)" ) }}';">▲</button><button style="background-color:#8fc1e3;" onclick="window.location.href='{{ url_for( 'adminSortConfirmedDESC', Param="COALESCE(Average, 0)" ) }}';">▼</button></th>
        {% for row in data %}
            <tr>
                <td width="15%" align="center">{{row[0]}}</td>
                <td width="15%" align="center">{{row[1]}}</td>
                <td width="10%" align="center">{{row[2]}}</td>
                <td width="10%" align="center">{{row[3]}}</td>
                <td width="5%" align="center">{{row[4]}}</td>
                <td width="10%" align="center">{{row[5]}}</td>
                <td width="3%" align="center">{{row[6]}}</td>
                <td width="3%" align="center">{{row[7]}}</td>
                <td width="5%" align="center">0000{{row[8]}}</td>
                <td width="10%" align="center">{{row[9]}}</td>
                <td width="5%" align="center">{{row[10]}}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="adminContainer">
        <form class="adminForms" method="POST" action="/searchPropertiesAdminConfirmedPropertyList/">
            <select name="search_by">
                <option value="Name">Name</option>
                <option value="Zip">Zip</option>
                <option value="PropertyType">Type</option>
                <option value="ApprovedBy">Verifier</option>
                <option value="Average">Average Rating</option>
            </select>
                <input type="text" name="search_text">
            <button class="btn">Search Properties</button>
        </form>
        <form class="adminForms" method="POST" action="/adminManageConfirmedProperty/">
            <select name="property_to_manage">
                {% for property in data %}
                    <option value="{{ property[8] }}">{{ property[0] }}</option>
                {% endfor %}
            </select>
            <button class="btn">Manage Property</button>
        </form>
        <form class="adminForms" method="POST" action="/deleteConfirmedProperty/">
            <select name="confirmed_property_to_delete">
                {% for property in data %}
                    <option value="{{ property[8] }}">{{ property[0] }}</option>
                {% endfor %}
            </select>
            <button class="btn">Delete Property</button>
        </form>
        <form class="adminForms" action="/admin/">
            <button class="btn">Back</button>
        </form>
    </div>
{% endblock %}